* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  padding-top: 50px;
  color: white;
  font-size: 24px;
  font-weight: 300;
  background-color: black;
  display: flex;
}
h1 {
  font-size: 48px;
}
.done {
  text-decoration: line-through;
  opacity: 0.75;
}
.white {
  border: 2px solid white;
  color: white;
  box-shadow: 0 6px 12px 0 white;
}
.bisque {
  border: 2px solid bisque;
  color: bisque;
  box-shadow: 0 6px 12px 0 bisque;
}
.lightsteelblue {
  border: 2px solid lightsteelblue;
  color: lightsteelblue;
  box-shadow: 0 6px 12px 0 lightsteelblue;
}
.indianRed {
  border: 2px solid indianred;
  color: indianRed;
  box-shadow: 0 6px 12px 0 indianred;
}

header {
  display: flex;
  justify-content: space-between;
}
#colors{
  display: flex;
}
#colors button {
  margin-left: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 20px;
  background-color: transparent;
}
#colors button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s;
}
#colors button:nth-of-type(1) {
  color: white;
  border: 2px solid white;
  box-shadow: 0 6px 12px 0 white;
}
#colors button:nth-of-type(2) {
  color: bisque;
  border: 2px solid bisque;
  box-shadow: 0 6px 12px 0 bisque;
}
#colors button:nth-of-type(3) {
  color: lightsteelblue;
  border: 2px solid lightsteelblue;
  box-shadow: 0 6px 12px 0 lightsteelblue;
}
#colors button:nth-of-type(4) {
  color: indianred;
  border: 2px solid indianred;
  box-shadow: 0 6px 12px 0 indianred;
}

#root {
  width: 70%;
  margin: auto;
  /* flex */
  display: flex;
  flex-direction: column;
}
#input_section {
  width: 100%;
  margin: 30px 0;
  display: flex;
}

#input_section input, #input_section button {
  padding: 15px;
  font-size: 24px;
  border-radius: 20px;
  background-color: transparent;
}
input {
  width: 100%;
  margin-right: 30px;
}
input:focus, button:focus {
  outline: none;
}
input:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
}
ul {
  list-style: none;
  align-self: flex-start;
  width: 100%;
}
li {
  margin: 20px 0;
  padding: 15px;
  border: 2px solid white;
  border-radius: 20px;
  /* flex */
  display: flex;
  justify-content: space-between;
}
li:hover {
  transform: scale(1.025);
  font-weight: 600;
  color: black;
  background-color: white;
  transition: 0.4s;
}
li i {
  font-size: 32px;
}
li i:nth-of-type(1) {
 margin-left: 20px;
 color: red;
}
li i:nth-of-type(2) {
 margin-left: 10px;
 color: forestgreen;
}
i:hover {
  cursor: pointer;
  transform: scale(1.2);
}
